.title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.methods {
    font-size: 1em;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.choices {
    font-size: 1em;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}

/* Remove bullets from the <ul> inside .choices */
.choices ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
